<div class="container">
    <h2>{{ category.name }}</h2>
    <p>{{ category.totalAmount | currency:'PLN':'symbol':'1.2-2' }}</p>
 
    <table class="table table-striped mt-4">
      <thead>
        <tr>
          <th>Nazwa</th>
          <th>Wartość</th>
          <th>Data</th>
          <th>Opis</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions">
          <td>{{ transaction.name }}</td>
          <td>{{ transaction.amount | currency:'PLN':'symbol':'1.2-2' }}</td>
          <td>{{ transaction.date | date:'yyyy-MM-dd' }}</td>
          <td>{{ transaction.description }}</td>
        </tr>
      </tbody>
    </table>
  
    <div *ngIf="transactions.length === 0" class="alert alert-info mt-4">
      No transactions found for this category.
    </div>
  </div>
<!-- TODO Button do dodawania transakcji-->